{
        email mateusdasilvacardoso091@gmail.com
        admin off
}

45-167-134-207.sslip.io {
        reverse_proxy nginx:80 {
                header_up Host {host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
                header_up X-Real-IP {remote_host}
        }
}